body { font-family:Arial;
      background-color:#2AC6D4;
      color:#17332D;
      margin: 0;
      paddimg: 0;
     }
header {
  backround-color:#2AC6D4;
  color: white;
  padding: 1 em;
  text-aligm: center;
}
nav ul li {
  background-color: white;  
      msrgin: 1em 0;
      padding: 2em;
      border-left: 5px solid #2196f3;
      transition: background-color 0.3s;
}
nav ul li:hover{
      background-color: #e0f0ff;
}
nav ul li a {
      text-decoration: none;
            color:#31DE92
      font-weight: serif;
}
main {
      padding: 2em;
      max-width: 800px;
      margin: auto;
}
footer {
      background-color:#00734A;
      color: white;
      text-aligm: center;
      padding: 1em;
      position: relative;
      bottom: 0;
      margin-top: 2em;
